body{
    font-family: Helvetica;
}

h1{
    font-family: Helvetica Bold;
}
 .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  @font-face {
    font-family: Helvetica;
    src: url(D:\GFX ADOBE\Font Saya\Helvetica.ttf);
  }

  @font-face {
    font-family: Helvetica Bold;
    src: url(Helvetica-Bold.ttf);
  }

input{
    
    background-color: rgb(243, 243, 243);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

input:focus{
    background-color: rgba(255, 255, 255, 100%);
    border: 3px rgb(rgb(141, 141, 141), green, blue);

}

.fix{
    padding-right: 10px;
}


.simpan{
    background-color: rgb(126, 223, 255);
    color: white;
    padding-right: 20px;
    margin-left: auto;
    margin-top: 20px;
}
.simpan:hover{
    background-color: rgb(194, 194, 194);
    stroke: #B4FDED;
    color: #616161;
}
.shape{
    background-image: url(waves.svg);
}

.custom-shape-divider-top-1710082539 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1710082539 svg {
    position: relative;
    display: block;
    width: calc(214% + 1.3px);
    height: 492px;
}

.custom-shape-divider-top-1710082539 .shape-fill {
    fill: #D2FAFF;
}
h1{
    padding-bottom: 20px;
}
td{
    padding-bottom: 5px;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;
    border-radius: 5px;
    
}

br{
    margin-bottom: 5px;
}